*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	background:url('images/im1.png') ;
	color: white;
	background-size: cover;
	background-position:center ;
}
.nav-bar img{
	margin: 20px 0 0 80px;
	cursor: pointer;
}
.nav-bar p{
	margin: 0 0 0 120px;
	text-shadow: 2px 2px 6px white;
}
#t:hover{
	color: transparent;
	text-shadow: none;
	cursor: progress;
}
.nav-bar img:hover{
	box-shadow: 2px 2px 8px gold;
	border-radius: 20%;
}

.nav{
	margin: -50px 0 0 48%;
}
.nav li{
	display: inline;
	margin: 0 0 0 60px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
.nav li:hover{
	color: greenyellow;
	background-color: darkblue;
	padding: 4px;
	border-radius: 10px;
	box-shadow: 2px 2px 6px gold;
}
#btn:hover{
padding: 0px;
}
.nav button{
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: black;
	color: white;
	cursor: pointer;
	width: 100px;
	height: 50px;
	box-shadow: 3px 3px 8px gold;
	background-image: linear-gradient(90deg,#00b1fg,#0088e1);
}
.nav button:hover{
	color: greenyellow;
	background-color: darkblue;
	box-shadow: 3px 3px 8px silver;
}
.cont{
	display: flex;
	justify-content: space-around;
	margin-top:5% ;
}
.interface h1{
	letter-spacing: 2px;
	word-spacing: 3px;
	font-size: 35px;
}
.news{
	margin: 50px 0 50px 0;
}
.interface p{
	letter-spacing: .5px;
	font-size: 20px;
}
.material{
	position: fixed;
	margin: 5.6% 0 0 30px;
}
.fa-magnifying-glass{
	font-size: 30px;
	color: black;
}
/*.fa-magnifying-glass:hover{
	color: white;
}*/
.interface input{
	border: none;
	outline: none;
	padding: 20px 100px;
	border-radius: 5px 0 0 5px;
	font-size: 20px;
	margin-bottom: 5px;
	background-color: lavenderblush;
	letter-spacing: 1px;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 10%;
}
.interface input:hover{
	color: white;
	background-color:black;
	box-shadow: 3px 3px 8px gold;
}
.interface button{
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: lavenderblush;
	color: black;
	font-weight: bold;
	cursor: pointer;
	width: 100px;
	height: 50px;
	background-image: linear-gradient(right,#00b1fg,#0088e1);
}
.interface button:hover{
	background-color: black;
	color: white;
	box-shadow: 3px 3px 8px gold;
}
.info{
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	width: 400px;
	height: 500px;
	margin-top: -25px;
	box-shadow: 3px 3px 10px silver;
	padding: 25px;
	border-radius: 10%;
}
.info .header{
	background: transparent;
	color: black;
	text-shadow: 2px 2px 5px white;
	border: 2px solid rgba(255, 255, 255, .5);
	backdrop-filter: blur(.5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	padding: 15px;
	padding-bottom: 10px;
	padding-top: 1px;
	margin: 0 ;
	text-align:right ;
	border-radius: 15px;
}
.header h1{
	margin: 35px 0 10px 0;
	text-indent: 20px;
	font-size: 25px;
}
.header h1::before{
	content: '';
	position: absolute;
	top: 37px;
	margin-left: -40px;
	background-image: url('images/c1.png');
	background-size: 30px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}
.info .report{
	margin: 10px;
	text-align: center;
}
#descr{
	font-size: 20px;
	text-transform: capitalize;
	position: relative;
	top: -50px;
	text-shadow: 1px 1px 2px black;
}
.info .output{
	display: inline-flex;
}
.digit{
	margin-left: 50px;
}
.digit h1{
	text-shadow: 2px 2px 5px black;
}
.digit span{
	font-size: 15px;
	text-shadow: 2px 2px 5px black;
}
.list_info{
	margin: 10px 0 0 150px;
}
.list_info h3{
	padding: 5px;
	font-size: 17px;
	text-shadow: 2px 2px 5px black;
}
#wind::before{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	right: 120px;
	margin-top:-5px ;
	background-image: url('images/cl6.png');
	background-size: contain;
}
#humidity::before{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	right: 120px;
	margin-top:-5px ;
	background-image: url('images/t4.png');
	background-size: contain;
}
.conv{
	text-align: center;
	text-shadow: 2px 2px 5px black;
	margin-top: 30px;
	font-size: 20px;
	cursor: pointer;
}
.cont::before{
	content: '';
	position: absolute;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	top: 130px;
	left: 30px;
	border-radius: 10% 120% 10% 120% / 170% 100% 170% 100%;
	width: 800px;
	height: 300px;
	/*//background-color: rgb(255, 3, 192);
	//background-image: linear-gradient(90deg,rgba(255, 3, 192, 1)0%,rgba(44, 126, 255, 1)97%);*/
	z-index: -1;
}
.interface h1{
	text-shadow: 3px 3px 3px blue;
}
.interface p{
	text-shadow: 3px 3px 3px green;
}
.news p{
	text-shadow: 3px 3px 3px red;
}
#celsius:hover{
	box-shadow: 2px 2px 6px lightblue;
}
#fahrenheat:hover{
	box-shadow: 2px 2px 6px red;
}
.nav a{
	 text-decoration: none;
	 text-shadow: 3px 3px 3px mediumblue;
}